body {
  background-color: rgb(32, 31, 31);
  color: white;
  font: "Alyamama";
}

.login-button{
  font: "Alyamama";
  margin: auto;
  text-align: center;
  width: 25%;
  height: 100px;
  font-size: 60px;
}

.centered {
  margin: auto;
  text-align: center;
}
